@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
#container {
  width: 1248px;
  margin: 40px auto;
}
img {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
}
.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
/* ============= Testimonial Cards 1 =============== */
.section1 {
  width: 45%;
}
.message {
  width: 90%;
  background: black;
  color: white;
  padding: 16px;
  position: relative;
  border-radius: 12px;
}
.message::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 30px;
  border-width: 12px 12px 0 12px;
  border-style: solid;
  border-color: black transparent;
}
.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 12px;
}
/* ------------- Responsive --------------- */
@media (max-width: 992px) {
  #container {
    width: 90%;
  }
}
@media (max-width: 600px) {
  #container {
    width: 95%;
  }
  .section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section1 {
    width: 100%;
  }
  .message {
    width: 100%;
  }
}
/* ============= Testimonial Cards 2 =============== */
.section2 {
  width: 40%;
  border: 1px solid black;
  border-radius: 12px;
  padding: 16px;
}
/* ------------- Responsive --------------- */
@media (max-width: 992px) {
  #container {
    width: 90%;
  }
}
@media (max-width: 600px) {
  #container {
    width: 95%;
  }
  .section2 {
    width: 100%;
  }
}
/* ============= Testimonial Cards 3 =============== */
.section3 {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  height: 300px;
  /* align-items: center; */
  align-items: stretch;
}
.section3 img {
  width: 30%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 12px;
  object-fit: cover;
}
.profile-details {
  flex: 1;
  border: none;
  border-radius: 12px;
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-details span {
  color: gray;
  padding-bottom: 8px;
}
.starIcon {
  color: gold;
  margin-bottom: 8px;
}
/* ----------------- Responsive ---------------- */
@media (max-width: 992px) {
  #container {
    width: 90%;
  }
}
@media (max-width: 600px) {
  #container {
    width: 95%;
  }
  .section3 {
    display: flex;
    width: 100%;
    gap: 8px;
    height: auto;
  }
  .section3 img {
    height: 40%;
  }
  .profile-details {
    padding: 8px;
  }
  .profile-details p {
    font-size: 12px;
  }
}
/* ============= Testimonial Cards 4 =============== */
.section4 {
  width: 100%;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 12px;
  margin-top: 40px;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 20px;
}
.imgs {
  display: flex;
  gap: 20px;
  align-items: center;
}
.imgs img {
  border-radius: 50%;
  object-fit: cover;
}
.imgs .main {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
}
.imgs .small {
  width: 75px;
  height: 75px;
  opacity: 0.8;
  filter: blur(1px);
}
